name: Automation Testing (Web & API)

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Give gradlew permission
        run: chmod +x gradlew

      # ==============================
      # API TEST
      # ==============================
      - name: Run API Tests (@api)
        run: ./gradlew clean cucumberApiTest

      - name: Upload API Test Reports (Artifacts v4)
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: api-test-report
          path: |
            build/reports/cucumber/**
            build/cucumber-reports/**
            build/reports/tests/**
          if-no-files-found: ignore

      # ==============================
      # WEB TEST
      # ==============================
      - name: Run Web Tests (@web)
        run: ./gradlew clean cucumberWebTest

      - name: Upload Web Test Reports (Artifacts v4)
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: web-test-report
          path: |
            build/reports/cucumber/**
            build/cucumber-reports/**
            build/reports/tests/**
          if-no-files-found: ignore
