name: Run Automation Tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: "17"
        distribution: "temurin"

    # ===========================
    # RUN API AUTOMATION (Cucumber)
    # ===========================
    - name: Run API Automation Tests
      run: |
    - name: Give permission to gradlew
      run: chmod +x gradlew

    - name: Run API Automation Tests
      run: ./gradlew clean test --tests "*CucumberApiTest"

    - name: Upload API Automation Report
      uses: actions/upload-artifact@v4
      with:
        name: api-automation-report
        path: reports/API/

    # ===========================
    # RUN WEB AUTOMATION (Cucumber / JUnit)
    # ===========================
    - name: Run Web Automation Tests
      run: |
    - name: Give permission to gradlew
      run: chmod +x gradlew

    - name: Run API Automation Tests
      run: ./gradlew clean test --tests "*CucumberWebTest"
        
    - name: Upload Web Automation Report
      uses: actions/upload-artifact@v4
      with:
        name: web-automation-report
        path: reports/WEB/
