name: Automation Testing (Web & API)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Give gradlew permission
        run: chmod +x gradlew

      # Jalankan Test API
      - name: Run API Tests (@api)
        run: ./gradlew clean cucumberApiTest

      # Upload report API
      - name: Upload API Test Reports
        uses: actions/upload-artifact@v3
        with:
          name: api-test-report
          path: |
            build/reports/cucumber/**
            build/cucumber-reports/**
            build/reports/tests/**
          if-no-files-found: ignore

      # Jalankan Test Web
      - name: Run Web Tests (@web)
        run: ./gradlew clean cucumberWebTest

      # Upload report Web
      - name: Upload Web Test Reports
        uses: actions/upload-artifact@v3
        with:
          name: web-test-report
          path: |
            build/reports/cucumber/**
            build/cucumber-reports/**
            build/reports/tests/**
          if-no-files-found: ignore
